.recipe-box {
    background-color: #FEFEFB;
    border-radius: 10px;
    box-shadow: 3px 3px 4px #343A40;
    display: flex;
    flex-direction:column;
    flex-basis: 500px;
    /*flex-grow: 0;*/
    /*flex-shrink: 1;*/
}

.container-text {
    padding-top: 20px;
}

.text-recipes {
    display: flex;
    gap: 80px;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 10px;
}

.image-recipes {
    border-radius: 10px 10px 0 0;
}

.container-recipes {
    display: flex;
    flex-basis: 1200px;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 20px;
}

.icons {
    width: 25px;
    height: 25px;
}

.link-recipe {
    text-decoration: none;
}
