.input-field-fridge {
    width: 200px;
    height: 30px;
    margin: 0 30px 0 30px;
}

.fridge-form {
    background-color: #FEFEFB;
    border-radius: 10px;
    padding:10px;
    margin: 30px 5px 50px 5px;
    box-shadow: 3px 3px 4px #343A40;
}
.container-recipe-fridge {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    background-color: #FEFEFB;
    flex-basis: 1200px;
    margin: 50px 5px 50px 5px;
    box-shadow: 3px 3px 4px #343A40;
}

.image-recipe-fridge {
    border-radius: 10px 0 0 10px;
}

.text-fridge {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 80px;
}

.title-fridge-recipe {
    margin-bottom: 60px;
}

@media screen and (min-width: 800px) {
    .input-field-fridge {
        width: 640px;
    }

}

@media screen and (min-width: 500px) {
    .input-field-fridge {
        width: 375px;
    }
}