.container-instructions {
    background-color: #FEFEFB;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-basis: 1200px;
    margin: 40px 5px 20px 5px;
    box-shadow: 3px 3px 4px #343A40;
}

.container-ingredients-equipment {
    display: flex;
    flex-direction: column;
    flex-basis: 600px;
    border-left: 1px solid #343A40;
    padding: 5px;

}

.container-preparation {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    align-items: center;
}

.image-subrecipe {
    border-radius: 10px;
    box-shadow: 3px 3px 4px #343A40;
    margin-top: 50px;
}



