header {
    /*position: relative;*/
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-size: cover;
}

ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-link {
    color: #F2A56F;
    font-size: 20px;
    text-decoration: none;
}

.header-home {
    background: url('../../assets/photos/pasta-g6adc36e7b_1920.jpg') no-repeat center center fixed;
}

.header-recipe {
    background: url('../../assets/photos/eggs-gc1c11a90f_1920.jpg') no-repeat center center fixed;
}

.header-login-register {
    background: url('../../assets/photos/Login-Register.jpg') no-repeat center center fixed;
}

.header-profile {
    background: url('../../assets/photos/20220411_122111.jpg') no-repeat center center fixed;
}

.outer-nav-container {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #343A40;
}

.title-container {
    width: 280px;
    height: 205px;
    text-align: center;
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
}