.form-decision-maker {
    background-color: #FEFEFB;
    border-radius: 10px;

}

.radio {
    height: 10px;
}

.explanation {
    font-size: 16px;
}

.button-decision {
    background-color: #FEFEFB;
    border: #FEFEFB;
    }