select {
    margin: 10px;
}

.form-decision-maker {
    background-color: #FEFEFB;
    border-radius: 10px;
    margin: 20px 5px 20px 5px;
    box-shadow: 3px 3px 4px #343A40;
}

.radio {
    width: 10px;
}

.explanation {
    font-size: 16px;
}

.container-recipe-decision {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    background-color: #FEFEFB;
    flex-basis: 1200px;
    margin: 50px 5px 50px 5px;
    box-shadow: 3px 3px 4px #343A40;
}

.text-decision {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 80px;
}

.title-decision-recipe {
    margin-bottom: 60px;
}

.container-button-decision {
   margin-top: 20px;
}
